
.flex-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background-color: DodgerBlue; */
  }
  
  .flex-containers > div {
    /* background-color: #f1f1f1; */
    width: 50%;
    margin: 10px;
    text-align: right;
    align-items: left;
    /* line-height: 75px; */
    /* font-size: 30px; */
  }
  

  
.group-photos{
    width: 350px;
    height:300px;
    /* position: relative;
    align-items: left;
    justify-content: left; */
    border-radius: 5%;
    margin-right: 30%;
    /* background-color:red; */
  }
  



  .para2{
    color:#878a92;
    margin-top: 20px; 
    text-align: left;
     margin-bottom: 10px; 
     width: 75%;
     margin-left: 100px;
  }
  
  
  .title2{
    font-size:36px;
    font-weight:bold;
    text-align: left;
    margin-left: 100px;
    font-family: 'Times New Roman';
  
  }


  .button2{
    width:150px;
    height: 40px;
    margin-top: 10px;
    align-items: left;
    border-radius: 5px;
    margin-right: 400px;
    background-color:green;
    border:none;
  }
  