.flex-containerq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: DodgerBlue; */
  }
  
  .flex-containerq > div {
    /* background-color: #f1f1f1; */
    width: 300px;
    margin: 30px;
    border-radius: 5px;
    text-align: left;

    /* line-height: 75px; */
    /* font-size: 30px; */
    /* background-color:#edf5f6; */
  }


.tit{
    color:#878a92;
}




.button2{
    width:150px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    background-color:green;
    border:none;
  }






.person{
    width:400px;
    height: 500px;
}









  
.mi-title{
    text-align: center;
    color:#878a92;
    font-family: Arial bold;
    padding: 15px; font-size: 30px;
  }

.qoutes{
      color:#878a92;
      text-align: center;padding: 15px; font-size: 12px;
  }